

<%= form_tag( fornecedors_path, method: :get ) do %>
  <p>
    Filtrar por:
    <%= radio_button_tag 'search_type', 'nome', true %>
    Nome
    <%= text_field_tag 'search', nil, placeholder: 'Digite o texto...' %>
    <%= submit_tag "Filtrar" %>
  </p>
<% end %>

<h1>Fornecedors</h1>

<div id="fornecedors">
  <% @fornecedors.each do |fornecedor| %>
    <%= render fornecedor %>
    <p>
      <%= link_to "Show this fornecedor", fornecedor %>
    </p>
  <% end %>
</div>

<p>
  <%= link_to "New fornecedor", new_fornecedor_path %>
</p>
