<ul>
    <div>
    <h1>Bem-vindo</h1>  
    <a href="<%= autors_path %>" >Autores</a>
    </div>

    <div>
        <a href="<%= livros_path %>" >Livros</a>
    </div>

    <div>
        <a href="<%= fornecedors_path %>" >Fornecedores</a>
    </div>

    <div>
        <a href="<%= accounts_path %>" >Contas</a>
    </div>

    <div>
        <a href="<%= pecas_path %>" >Peças</a>
    </div>

    <div>
        <a href="<%= montagems_path %>" >Montegens</a>
    </div>

<ul>
    



