<div id="<%= dom_id montagem_peca %>">
    <p>
    <strong>Montagem:</strong>
    <%= montagem_peca.montagem.nome %>
  </p>

  <p>
    <strong>Peça:</strong>
    <%= montagem_peca.peca.nome %>
  </p>
  <p>
    <strong>Número:</strong>
    <%= montagem_peca.peca.numero %>
  </p>

   <p>
    <strong>Valor:</strong>
    <%= montagem_peca.peca.valor %>
  </p>

   <p>
    <strong>Fornecedor:</strong>
    <%= montagem_peca.peca.fornecedor.nome %>
  </p>



</div>
