<!-- app/views/layouts/home.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <title>Minha Página Inicial</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body>
    <%= yield %>
    <%= javascript_include_tag "application" %>
  </body>
</html>
